# Special verification token so the server knows it's coming from Ko-fi.
KOFI_VERIFICATION_TOKEN=
# Custom webhook URL for sending donation notification.
DISCORD_WEBHOOK_URL=
## Discord webhook cosmetics. When empty, it will use the default hardcoded value.
DISCORD_WEBHOOK_DISPLAY_NAME=
DISCORD_WEBHOOK_AVATAR_URL=
